/*
 |--------------------------------------------------------------------------
 | Color Variables
 |--------------------------------------------------------------------------
 |
 | This file should only declare Color variables 
 |
 */

/**
 * TEMPLATE
 */
$color-base-highlight: #86c232;
$color-base-accent: #61892f;
$color-base-background: #222629;
$color-base-shadow: #181a1b;
$color-base-dark: #474b4f;
$color-base-dark-accent: #6b6e70;

$main-background-color-dark: $color-base-background;
$main-font-color: #d1d8e6;

/**
 * CONTAINERS
 */

/**
 * BUTTONS
 */

/**
 * FLASHES AND NOTIFICATION
 */
